@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    overflow-x:hidden;
}


/* ------------------------------
            TEXTES
 ---------------------------------*/

.list-type-none{
    list-style-type: none; /*retirer la puces des listes */
}

.bold{
    font-weight: 800; /* mettre en gras */
}

.text-center{
    text-align: center; /* centrer le texte */
}

.text-right{
    text-align: right;
}

.uppercase{
    text-transform: uppercase; /* mettre en majuscule */
}

/*header*/
header{
position: fixed;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1000;
    padding: 0 20px;          
    height: 100px;       
    box-sizing: border-box;
    display: flex;
    align-items: center;
}



.nav-links{
    font-family: "Poppins", sans-serif;
    gap: 32px;
    font-size: 14px;

}

header a{
    color: white;
    transition: color 0.3s ease;
}

h2,h3,h4,h5,h6{
     font-family: "Poppins", sans-serif;
     font-weight: bold;
}

h1{
    font-weight: 625;
    font-size: 40px;
    letter-spacing: -0.5px;
    transform: scaleY(0.98);
    display: inline-block;
    line-height: 1;
    color: #006F95;
    font-family: "Inter", sans-serif;
    font-weight: 650;
    font-style: normal;

}

p{
font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
font-weight: 145;
font-size: 30px;
font-family: "Noto Sans Pahawh Hmong", sans-serif;
}

h3 {
font-weight: 145;
font-size: 20px;
font-family: "Noto Sans Pahawh Hmong", sans-serif;
}

.liste-ul{
    font-weight: 100;
    font-size: 25px;
}

.logo{
    font-weight: 200;
    font-size: 40px;
}

.typo{
   font-family: "inter", sans-serif; 
}


/* ------------------------------
            COULEURS
 ---------------------------------*/

.color-princ{
    background-color: rgb(25, 121, 153);
}

.color-black{
    color: #2E2A26;
}

.bg-white{
    background-color: #D8935C;
    border-radius: 10px;
    padding: 10px;
}

.color-white{
    color: #ffffff;
}

.color-blue{
    color: #006F95;
}

.color-green{
    color: #496e3b;
}

.bg-bleu-ciel{
    background-color: #67C3F3;
    border-radius: 10px;
    padding: 10px;
}


.bg-blue{
    background-color: rgb(102, 126, 138);
}

.bg-black {
    background-color: black;
}

.avis{
    padding: 100px 0 ;
    h2{
        color:#fff;
    }

}
.bg-image-avis{
    background-image: url("./assets/Avis\ clients.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.section-avis{
    margin-top: 0px;
}

.bulle-haute-gauche{
    position: absolute;
    top:100%;
    left : -300px;
    width: 50%;
    z-index: -1;
}

.bulle-basse-droite{
    position: absolute;
    top: 285%;
    left: 61%;
    width: 50%;
    z-index: -1;
}
/* ------------------------------
            LARGEURS
 ---------------------------------*/

.w-100{
    width: 100%;
}

.w-70{
    width: 70%;
}


.w-50 {
    width: 50%;
}

.w-48{
    width: 48%;
}

.w-40{
    width: 40%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-24 {
    width: 24%;
}

.w-20{
    width: 20%;
}

.w-15{
    width: 15%;
}


/* ------------------------------
        FOND COULEUR/ IMAGE
 ---------------------------------*/

.fond-img{

background-size: cover;
background-repeat:no-repeat;
background-position: center;
height:100vh;
}
/*.bg-gradient-hero{
    background: linear-gradient(to bottom, #fff,#E9E9E9);
}*/



/* ------------------------------
            HERO
 ---------------------------------*/
 .overflow-hidden{
    overflow: hidden;
}
.transform-y-128{
  transform: translateY(200px);
  top: -200px;
  right: 40px;
  position: absolute;
  width: 500px;
}
.relative{
    position: relative;
    z-index: 1
}
.bg-hero-overlay{
    position: absolute;
    top: 0;right: 0;
    z-index: -1;


}

.hero {
    overflow: visible;
    z-index: 0;
    height: 500px;
}


/* ------------------------------
            SECTION POURQUOI
 ---------------------------------*/
.pourquoi {
    position: relative;
    z-index: 0;
}

.bg-gradient-pourquoi{
    background: linear-gradient(to bottom, transparent, #f3f3f35e,#E7E7E7 );
}

.header-white{
    background-color: rgb(25, 121, 153);
    height: 70px;
    transition: all 0.85s cubic-bezier(0.4, 0, 0.2, 1);
    a, p{
        color:#fff;
    }
    .btn-white{
    border: 1.4px solid #FFFFFF;
    border-radius: 100px;
    background: transparent;
    padding: 12px 32px;
    }
}

/* ------------------------------
            FONCTIONALITEE
 ---------------------------------*/


 .fonctionnalitee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
 }

 .w-30-2 {
  width: 28%;
}

.w-38{
  width: 38%;
}
 
 .card100{
  display: flex;
  flex-direction: column;
  margin-top: -30px;
 }

 .img100{
    display: flex;
  flex-direction: column;
  
 }
.imagephone{
    transform: translateX(60px);
      margin-top: 10px;

}
 .img-pourtoi{
  width: 58px;
  height: 58px;
 }
/* ------------------------------
            FLEXBOX
 ---------------------------------*/

.flex {
    display: flex;
    flex-wrap: wrap;
}

.colonne{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

align-end{
    align-items: flex-end;
}

.gap {
  gap: var(--gap);
}

.gap-8{
    gap: 8px;
}

.gap-16{
    gap: 16px;
}

.gap-32{
    gap: 32px;
}

.gap-64{
    gap: 64px;
}

/* ------------------------------
         MARGIN & PADDING 
 ---------------------------------*/

 /* Margin */

.mt-16 {
    margin-top: 16px;
}

.mb-16{
    margin-bottom: 16px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-32{
    margin-top: 32px;
}

.mb-32{
    margin-bottom: 32px;
}


.mt-64{
    margin-top: 64px;
}

.mb-64{
    margin-bottom: 64px;
}

.mt-128{
    margin-top: 128px;
}

.mb-128{
    margin-bottom: 128px;
}

.mr-16{
    margin-right: 16px;
}

.ml-16{
    margin-left: 16px;
}

.ml-32{
    margin-left: 32px;
}

.ml-64{
    margin-left: 64px;
}

.ml-100{
    margin-left: 100px;
}

.mr-32{
    margin-right: 32px;
}

.ml-32{
    margin-left: 32px;
}

.mr-64{
    margin-right: 64px;
}

.p-20{
    padding: 20px;
}
/* padding */


.pb-16{
    padding-bottom: 16px;
}

.pl-16{
    padding-left: 16px;
}

.pr-16{
    padding-right: 16px;
}

.pt-16{
    padding-top: 16px;
}

.pb-32{
    padding-bottom: 16px;
}

.pt-32{
    padding-top: 32px;
}

.pb-32{
    padding-bottom: 32px;
}

.pt-64{
    padding-top: 64px;
}

.pb-64{
    padding-bottom: 64px;
}


.pt-128{
    padding-top: 128px;
}

.pb-128{
    padding-bottom: 128px;
}

/* ------------------------------
            CONTAINER
 ---------------------------------*/

.container-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container-1200{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* ------------------------------
            CARDS
 ---------------------------------*/
 .card{
    background-color: white;
    border: solid #D8935C;
    padding: 15px 10px;
    width: 28%;
    border-radius: 10px;
    font-family: "inter", sans-serif;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.553);
 }
 .card-pourtoi{
  
    background-color: white;
    text-align: center;
    padding: 28px 24px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
  flex-direction: column;
  border-radius: 30px;
  gap: 12px;
    h3{
        margin-bottom: 16px;
        text-align: left;
        font-weight: bold;
        margin:0;
        padding-bottom: 16px;
        font-size: 16px;
          font-family: "Poppins", sans-serif;
  font-weight: 650;
  font-style: normal;
    }
    p{
        text-align: left;
        color: #666;
        font-family: "Inter", sans-serif;
        font-size: 14px;
    }
 }

 
.img-avantage{
    width: 100px;
    height: 100px;
}


 .card-service{
    background-color: rgb(255, 255, 255);
    border: solid #D8935C;
    padding: 15px 10px;
    width: 100%;
    border-radius: 10px;
    font-family: "inter", sans-serif;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.553);
 }

  .card-avis{
    background-color: white;
    padding: 15px 10px;
    border-radius: 15px;
    font-family: "inter", sans-serif;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
    text-align: center;
  }

.card-contact{
    background-color: white;
    border: solid #D8935C;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: "inter", sans-serif;
}

.card-recherche{
    background-color: white;
    border: solid #D8935C;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: "inter", sans-serif;
}

 .img-border{
    border-radius: 30px;
 }

 .photo-border{
    border-radius: 200px;
 }

 .card-temoignage {
  border-radius: 8px;
  background-color: var(--troisieme-plan);
 }

 .card-content {
    padding: 8px;
  }

.avis-temoignages {

  background-color: var(--deuxieme-plan);
  padding: 16px;
}

 /* ------------------------------
            BOUTON
 ---------------------------------*/

 .btn{
    background-color: transparent;
    display: inline-block;
    padding: 12px 32px;
    border: 1.4px solid #00c3ff;
    border-radius: 100px;
    color: #00c3ff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Mulish", sans-serif;
    font-style: normal;

}


.btn-white{
    background-color: transparent;
    display: inline-block;
    padding: 12px 32px;
    border: 1.4px solid #FFFFFF;
    border-radius: 100px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    font-family: "Mulish", sans-serif;
    font-style: normal;

}

.btn-position{
    transform: translateX(575px);
}

/* ------------------------------
            Commentaires
 ---------------------------------*/


.avis{
    text-align: center;
}

.avis-h2 {
    margin-bottom: 50px;
}

.carte-avis {
    width: 320px;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    text-align: left;
}

.etoiles {
    color: gold;
    font-size: 18px;
    margin-bottom: 15px;
}

.carte-avis p {
    margin-bottom: 20px;
    color: #555;
}

.auteur {
    display: flex;
    align-items: center;
    gap: 12px;
}

.auteur img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.auteur h4 {
    margin: 0;
}

.auteur span {
    color: #777;
    font-size: 14px;
}

/* ------------------------------
            style doctype.html
 ---------------------------------*/

 .span-bleu{
    font-weight: 800;
    color: #006F95;
 }

.card-doc {
    background-color: white;
    border: solid rgb(102, 126, 138);
    padding: 6px 6px;
    width: 28%;
    border-radius: 10px;
    font-family: "inter", sans-serif;
    box-shadow: 2px 2px 15px rgba(43, 121, 145, 0.553);
    display: inline-block;
}

.card-doc2 {
    background-color: rgb(85, 153, 255);
    border: solid #186a79;
    padding: 10px 15px;
    width: 100%;
    color: white;
    border-radius: 30px;
    font-family: "inter", sans-serif;
    box-shadow: 2px 2px 15px rgba(43, 121, 145, 0.553);
    display: inline-block;
}

.header-doc {
    font-family: "Poppins", sans-serif;
    position: fixed;
    background-color: rgb(25, 121, 153);
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.card-doc3 {
    background-color: rgb(204, 218, 238);
    border: solid #186a79;
    padding: 20px 40px 15px;
    width: 100%;
    color: white;
    border-radius: 30px;
    font-family: "inter", sans-serif;
    box-shadow: 2px 2px 15px rgba(43, 121, 145, 0.553);
    display: inline-block;
}

.card-sommaire {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    background-color: #186a79;

}

.sommaire > a {
    color: white;
}

.pos-sticky{
    position: sticky;
    top: 120px;
    nav a{
        margin-bottom: 16px;
        display: block;
    }
}





.container-scroll{
    width: 100%;
    overflow-x: scroll;
    display: flex;
}

.img-scroll-horizontal {
    width: 30%;
    flex-shrink: 0;
}

.img-equipe{
    border-radius: 300px;
}
.carte-equipe{
    height: 200px;
}


